﻿.c-content {
    font-size: $ms-1;


    @media screen and (min-width: 600px) {
        font-size: $ms0;
        line-height: $lineHeight;
    }

    &--wrapper {
        max-width: 990px;
        margin-top: 0;
    }

    &--heading,
    &--page-heading {
        font-weight: $fontWeightMedium;
        color: $textColorDark;
    }

    &--heading {
        @include u-paddingBottom--xs;
        @include u-paddingTop--m;
        font-size: $ms1;


        @media screen and (min-width: 600px) {
            font-size: $ms2;
        }

        
    }

    &--page-heading {
        @include u-paddingBottom--l;
        font-size: $ms3;

        @media screen and (min-width: 600px) {
            font-size: $ms4;
        }

    }

    p,ul,ol {
        padding-bottom: $lineHeight;
    }

}


.btn {
    background-color: $buttonBgColor;
    font-size: 14px;
    color: $textColorDark;
    @include u-paddingTop--xs;
    @include u-paddingBottom--xs;
    @include u-paddingRight--s;
    @include u-paddingLeft--s;
}
