﻿.c-post {
    margin: 0 auto;


    &--category,
    &--meta {
        font-size: $ms-1;
        color: $textColorLight;
        max-width: 100%;
    }

    &--category {
        display: block;
        text-transform: uppercase;
        font-weight: $fontWeightMedium;
    }

    &--meta {
        font-weight: $fontWeightRegular;
        @include u-paddingBottom--l;
    }

    p,ul,ol {
        max-width: 72rem;
        margin: 0 auto;
    }

    ul,ol {list-style-position:inside;}

    img {
        @include u-paddingTop--l;
        @include u-paddingBottom--xxxl;
        display: block;
        max-width: 1120px;
        margin: 0 auto;
    }

    &--header {
        @include u-paddingBottom--l;

        p {
            max-width: 100%
        }

        img {
            @include u-paddingTop--0;
            @include u-paddingBottom--0;
            max-width: 100%;
        }
    }

    &--masthead {
        max-width: 100%;
        margin: 0;
    }


    & .c-content {
        &--page-heading {
            letter-spacing: 1px;
            line-height: $lineHeight * 1.5;
            @include u-paddingTop--l;
            @include u-paddingBottom--s;
        }

        &--heading {
            max-width: 72rem;
            margin: 0 auto;
        }
    }
}
