/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { 
	margin: 0; 
	padding: 0; 
}

html { 
	font-size: 62.5%; /* for rems */
} 

/* Thanks, Paul Irish! https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
 	box-sizing: border-box;
}

*, *:before, *:after {
 	box-sizing: inherit;
}

body { 
	font-size :							$ms0;
	line-height :						$lineHeight;
	font-family :						$sansSerifStack;
	color:                              $textColorDark; 
}

img {width : 100%;}