.o-grid,
.o-flex
{

    display: flex;

    -webkit-justify-content: space-between;
	justify-content: space-between;

	

    &--v-center { align-items : center;}
    &--v-end { align-items : flex-end;}
    &--h-center { justify-content : center;}
    &--h-left { justify-content : flex-start;}
    &--h-between { justify-content : space-between;}
    &--h-right { justify-content : flex-end;}
}
.o-grid 
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.o-grid-row,
.o-flex-row 
{
	-webkit-flex-direction: row;
	flex-direction: row;
}
.o-grid-col,
.o-flex-col 
{
	-webkit-flex-direction: column;
	flex-direction: column
}

.o-w100,
.o-w70,
.o-w60,
.o-w50,
.o-w40,
.o-w30 {width : 100%; flex-direction:column;}