.base-wrapper {
    max-width:                          1280px;
    margin-right:                       auto;
    margin-left:                        auto;
}


.o-wrapper {
    @extend .base-wrapper;
    @include u-paddingRight--s;
    @include u-paddingLeft--s;
    //padding-top :                       $sectionSpacing;
    padding-bottom :                    $sectionSpacing;
    //margin-top :                        $sectionSpacing;
    //margin-bottom :                     $sectionSpacing;


   
}

.o-wrapper-grid {
    @extend .base-wrapper;
    @include u-paddingRight--s;
    @include u-paddingLeft--s;
}