/*-------------------------------------------    
    Definitions: Colors     
-------------------------------------------*/
$brandColor1 :                          #E6E2F4;
$brandColor2 :                          #DDD8F1;
$brandColor :                           #9B8DD5;
$brandColor8 :                          #685F8F;
$ctaColor :                             #FCD670;

$sectionBgColor :                       #f8f8f8;
$headerBgColor :                        #2D4F77;
$footerBgColor :                        #2D4F77;

$textColorDark :                        #000000;
$textColor :                            #333333;
$textColorLight :                       #666666;

$borderColor :                          #DBDDDE;

$defaultTextColor :                     $textColor;

$hoverHighlightColor :                  #F2F0FA;

$buttonBgColor :                        $brandColor2;
$buttonHighlightLightColor :            #F2F0FA;
$buttonHighlightDarkColor :             #CDC6EA;

$successColor :                         #69DD95;
$successColorLight :                    #B4EECA;
$warningColor :                         #F5C85C;
$warningColorLight :                    #FAE3AD;
$errorColor :                           #F26175;
$errorColorLight :                      #F8B0BA;

/*-------------------------------------------    
    Definitions: Units     
-------------------------------------------*/

// https://spec.fm/specifics/8-pt-grid

$spacing :		                        8;				
$xxs :                                  $spacing / 2;
$xs :                                   $spacing;
$s :                                    $spacing * 2;
$m :                                    $spacing * 3;
$l :                                    $spacing * 4;
$xl :                                   $spacing * 5;
$xxl :                                  $spacing * 6;
$xxxl:                                  $spacing * 8;



$lineHeight :                           32px;
$sectionSpacing :                       $lineHeight ;
$sectionSpacingLarge :                  $lineHeight * 2;

/*-------------------------------------------    
    Definitions: Fonts     
-------------------------------------------*/

$sansSerifStack :                       'Montserrat', Helvetica, Arial,sans-serif;
$SerifStack :                           Georgia, 'Times New Roman', serif;

$fontWeightThin :                       100;
$fontWeightExtraLight :                 200;
$fontWeightLight :                      300;
$fontWeightRegular :                    400;
$fontWeightMedium :                     500;
$fontWeightSemiBold :                   600;
$fontWeightBold :                       700;
$fontWeightExtraBold :                  800;
$fontWeightBlack :                      900;



$ms5:                                   5.2rem; // 52px display 3
$ms4:                                   4.2rem; // 42px h1
$ms3:                                   3.1rem; // 31px h2
$ms2:                                   2.4rem; // 24px h3
$ms1:                                   2rem; // 20px p main
$ms0:                                   1.8rem; // 16px p
$ms-1:                                  1.6rem; // 12px s
$ms-2:                                  1.2rem; // 10px xs
$ms-3:                                  1em; // 8px xxs


/*-------------------------------------------    
    Definitions: Media     
-------------------------------------------*/