/*
*************************************************

DANMALL.ME
Utilities

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.u {


		/*-------------------------------------------    
		    Text
		-------------------------------------------*/


		&-text--xs {
			@include u-text--xs;
		}

		&-text--s {
			@include u-text--s;
		}

		&-text--m {
			@include u-text--m;
		}

		&-text--l {
			@include u-text--l;
		}

		&-text--xl {
			@include u-text--xl;
		}

		&-text--xxl {
			@include u-text--xxl;
		}

		&-text--10 {
			@include u-text--10;
		}

		&-text--12 {
			@include u-text--12;
		}

		&-text--14 {
			@include u-text--14;
		}

		&-text--20 {
			@include u-text--20;
		}



		// leading

		&-leading--xs {
			@include u-leading--xs;
		}

		&-leading--s {
			@include u-leading--s;
		}

		&-leading--m {
			@include u-leading--m;
		}

		&-leading--l {
			@include u-leading--l;
		}

		&-leading--xl {
			@include u-leading--xl;
		}

		&-leading--xxl {
			@include u-leading--xxl;
		}


		// font style
/*
		&-font--sans {
			@include u-font--sans;
		}

		&-font--serif {
			@include u-font--serif;
		}

*/

		// font weight

		&-font--normal {
			@include u-font--normal;
		}

		&-font--bold {
			@include u-font--bold;
		}

		.breveNewsBold-loaded &-font--bold {
			@include u-font--normal;

			// seasoning
			font-family: "BreveNews-Bold";
		}		

		&-font--italic,
		&-fontStyle--italic {
			@include u-fontStyle--italic;
		}

		.breveNewsBookItalic-loaded &-font--italic,
		.breveNewsBookItalic-loaded &-fontStyle--italic {
			@include u-fontStyle--normal;

			// seasoning
			font-family: "BreveNews-BookItalic";
		}

		&-fontStyle--normal {
			@include u-fontStyle--normal;
		}



		// bullets

		&-bullets {
			@include u-bullets;
		}

		&-bullets--none {
			@include u-bullets--none;
		}


		// other text styles

		&-uppercase {
			@include u-uppercase;
		}

		&-letterspace--in {
			@include u-letterspace--in;
		}





		/*-------------------------------------------    
		    Alignments
		-------------------------------------------*/

		&-align--left {
			@include u-align--left;
		}

		&-align--right {
			@include u-align--right;
		}

		&-align--center {
			@include u-align--center;
		}



		/*-------------------------------------------    
		    Margins     
		-------------------------------------------*/

		// margin shorthand

		&-margin--0 {
			@include u-margin--0;
		}

		&-margin--xs {
			@include u-margin--xs;
		}

		&-margin--s {
			@include u-margin--s;
		}

		&-margin--m {
			@include u-margin--m;
		}

		&-margin--l {
			@include u-margin--l;
		}

		&-margin--xl {
			@include u-margin--xl;
		}

		&-margin--xxl {
			@include u-margin--xxl;
		}



		// marginTop

		&-marginTop--0 {
			@include u-marginTop--0;
		}

		&-marginTop--xs {
			@include u-marginTop--xs;
		}

		&-marginTop--s {
			@include u-marginTop--s;
		}

		&-marginTop--m {
			@include u-marginTop--m;
		}

		&-marginTop--l {
			@include u-marginTop--l;
		}

		&-marginTop--xl {
			@include u-marginTop--xl;
		}

		&-marginTop--xxl {
			@include u-marginTop--xxl;
		}


		// marginRight

		&-marginRight--0 {
			@include u-marginRight--0;
		}

		&-marginRight--xs {
			@include u-marginRight--xs;
		}

		&-marginRight--s {
			@include u-marginRight--s;
		}

		&-marginRight--m {
			@include u-marginRight--m;
		}

		&-marginRight--l {
			@include u-marginRight--l;
		}

		&-marginRight--xl {
			@include u-marginRight--xl;
		}

		&-marginRight--xxl {
			@include u-marginRight--xxl;
		}


		// marginBottom

		&-marginBottom--0 {
			@include u-marginBottom--0;
		}

		&-marginBottom--xs {
			@include u-marginBottom--xs;
		}

		&-marginBottom--s {
			@include u-marginBottom--s;
		}

		&-marginBottom--m {
			@include u-marginBottom--m;
		}

		&-marginBottom--l {
			@include u-marginBottom--l;
		}

		&-marginBottom--xl {
			@include u-marginBottom--xl;
		}

		&-marginBottom--xxl {
			@include u-marginBottom--xxl;
		}



		// marginLeft

		&-marginLeft--0 {
			@include u-marginLeft--0;
		}

		&-marginLeft--xs {
			@include u-marginLeft--xs;
		}

		&-marginLeft--s {
			@include u-marginLeft--s;
		}

		&-marginLeft--m {
			@include u-marginLeft--m;
		}

		&-marginLeft--l {
			@include u-marginLeft--l;
		}

		&-marginLeft--xl {
			@include u-marginLeft--xl;
		}

		&-marginLeft--xxl {
			@include u-marginLeft--xxl;
		}



		/*-------------------------------------------    
		    Paddings     
		-------------------------------------------*/

		// padding shorthand

		&-padding--0 {
			@include u-padding--0;
		}

		&-padding--xxs {
			@include u-padding--xxs;
		}

		&-padding--xs {
			@include u-padding--xs;
		}

		&-padding--s {
			@include u-padding--s;
		}

		&-padding--m {
			@include u-padding--m;
		}

		&-padding--l {
			@include u-padding--l;
		}

		&-padding--xl {
			@include u-padding--xl;
		}

		&-padding--xxl {
			@include u-padding--xxl;
		}



		// paddingTop

		&-paddingTop--0 {
			@include u-paddingTop--0;
		}

		&-paddingTop--xxs {
			@include u-paddingTop--xxs;
		}

		&-paddingTop--xs {
			@include u-paddingTop--xs;
		}

		&-paddingTop--s {
			@include u-paddingTop--s;
		}

		&-paddingTop--m {
			@include u-paddingTop--m;
		}

		&-paddingTop--l {
			@include u-paddingTop--l;
		}

		&-paddingTop--xl {
			@include u-paddingTop--xl;
		}

		&-paddingTop--xxl {
			@include u-paddingTop--xxl;
		}


		// paddingRight

		&-paddingRight--0 {
			@include u-paddingRight--0;
		}

		&-paddingRight--xxs {
			@include u-paddingRight--xxs;
		}

		&-paddingRight--xs {
			@include u-paddingRight--xs;
		}

		&-paddingRight--s {
			@include u-paddingRight--s;
		}

		&-paddingRight--m {
			@include u-paddingRight--m;
		}

		&-paddingRight--l {
			@include u-paddingRight--l;
		}

		&-paddingRight--xl {
			@include u-paddingRight--xl;
		}

		&-paddingRight--xxl {
			@include u-paddingRight--xxl;
		}


		// paddingBottom

		&-paddingBottom--0 {
			@include u-paddingBottom--0;
		}

		&-paddingBottom--xxs {
			@include u-paddingBottom--xxs;
		}

		&-paddingBottom--xs {
			@include u-paddingBottom--xs;
		}

		&-paddingBottom--s {
			@include u-paddingBottom--s;
		}

		&-paddingBottom--m {
			@include u-paddingBottom--m;
		}

		&-paddingBottom--l {
			@include u-paddingBottom--l;
		}

		&-paddingBottom--xl {
			@include u-paddingBottom--xl;
		}

		&-paddingBottom--xxl {
			@include u-paddingBottom--xxl;
		}



		// paddingLeft

		&-paddingLeft--0 {
			@include u-paddingLeft--0;
		}

		&-paddingLeft--xxs {
			@include u-paddingLeft--xxs;
		}

		&-paddingLeft--xs {
			@include u-paddingLeft--xs;
		}

		&-paddingLeft--s {
			@include u-paddingLeft--s;
		}

		&-paddingLeft--m {
			@include u-paddingLeft--m;
		}

		&-paddingLeft--l {
			@include u-paddingLeft--l;
		}

		&-paddingLeft--xl {
			@include u-paddingLeft--xl;
		}

		&-paddingLeft--xxl {
			@include u-paddingLeft--xxl;
		}



		/*-------------------------------------------    
		    Text Indent
		-------------------------------------------*/

		&-textIndent--0 {
			@include u-textIndent--0;
		}


		


		/*-------------------------------------------    
		    Display     
		-------------------------------------------*/
		
		&-hide {
			@include u-hide;
		}

		&-show,
		&-block {
			@include u-show;
		}

		&-display {

			&--block {
				@include u-display--block;
			}

			&--inlineBlock {
				@include u-display--inlineBlock;
			}

			&--inline {
				@include u-display--inline;
			}

			&--flex {
				@include u-display--flex;
			}

		}


		/*-------------------------------------------    
		    Positioning
		-------------------------------------------*/

		&-pos--absolute {
			@include u-pos--absolute;
		}

		&-pos--relative {
			@include u-pos--relative;
		}

		&-pos--static {
			@include u-pos--static;
		}

		&-pos--fixed {
			@include u-pos--fixed;
		}



		/*-------------------------------------------    
		    Moving
		-------------------------------------------*/

		&-move--offscreen {
			@include u-move--offscreen;
		}

		&-move--onscreen {
			@include u-move--onscreen;
		}


		/*-------------------------------------------    
		    Floating & Clearing
		-------------------------------------------*/

		&-float--left {
			@include u-float--left;
		}

		&-float--right {
			@include u-float--right;
		}

		&-float--none {
			@include u-float--none;
		}

		&-clear--left {
			@include u-clear--left;
		}

		&-clear--right {
			@include u-clear--right;
		}

		&-clear--both {
			@include u-clear--both;
		}

		/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
		&-clearfix:after {
			content: "."; 
			display: block; 
			height: 0; 
			clear: both; 
			visibility: hidden;
		}


		/*-------------------------------------------    
		    Phark
		-------------------------------------------*/

		&-phark {
			@include u-phark;
		}



		/*-------------------------------------------    
		    Backgrounds
		-------------------------------------------*/

		&-bg--none {
			@include u-bg--none;
		}


		/*-------------------------------------------    
		    Box Shadow
		-------------------------------------------*/
		&-boxShadow--none {
			@include u-boxShadow--none;
		}





		.hidden 
		{
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
}