﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}



@{
	var selection = Model.Content.Site().FirstChild("blogHome").Children("blogPost")
						.Where(x => x.IsVisible());
}

<div class="o-wrapper">
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>
</div>
