﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

@* the fun starts here *@
@{
string imageUrl = Model.Content.GetPropertyValue<IPublishedContent>("masthead").Url;
}
<article class="c-content c-post o-wrapper">
<header class="c-post--header">
<img src="@imageUrl" class="c-post--masthead" />
<h1 class="c-content--page-heading">@Umbraco.Field("pageName")</h1>
@*<span class="c-post--category">State of the Web</span>*@
<p class="c-post--meta">@Umbraco.Field("createDate", formatAsDate: true) by @Umbraco.Field("creatorName")</p>
</header>
@Html.GetGridHtml(Model.Content, "gridEditor")

</article>